<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 mnj">
            <h4>transactional successful</h4><br>
            <div>
                <h5>Ticket details:</h5>
                <table class="table" *ngFor="let kk of r">
                    <tr>
                        <td>purchaseid</td>
                        <td>{{kk.purchaseid}}</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>{{kk.k.pro.name}}</td>
                    </tr>
                    <tr>
                        <td>category</td>
                        <td>{{kk.k.pro.category}}</td>
                    </tr>
                    <tr>
                        <td>cost</td>
                        <td>{{kk.k.pro.cost}}</td>
                    </tr>
                    <tr>
                        <td>quantity</td>
                        <td>{{kk.quantity}}</td>
                    </tr>
                   <tr>
                    <td>timings</td>
                        <td>1{{kk.k.pro.timings}}</td>
                   </tr>
                   <tr>
                    <td>day</td>
                    <td>{{kk.k.pro.day}}</td>
                   </tr>
                
                </table>
           

            </div>
            
            <button (click)="backtohome()">back to homepage</button>
        </div>

    </div>
</div>


