<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 mnj">
            <h4>transactional successful</h4><br>
            <div>
                <h5>Ticket details:</h5>
                <table class="table" >
                    <tr>
                        <td>purchaseid</td>
                        <td>102</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>kgf2</td>
                    </tr>
                    <tr>
                        <td>category</td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>cost</td>
                        <td>4500</td>
                    </tr>
                    <tr>
                        <td>quantity</td>
                        <td>10</td>
                    </tr>
                   <tr>
                    <td>timings</td>
                        <td>10.00</td>
                   </tr>
                   <tr>
                    <td>day</td>
                    <td>25/06/2023</td>
                   </tr>
                
                </table>
           

            </div>
            
            <button (click)="backtohome()">back to homepage</button>
        </div>

    </div>
</div>


